/* --- */
.completed-tasks-table{
    text-align: center;
    width: 100%;
    color: #0b1338;
    font-size: 15px;
    font-weight: 500;
}

.completed-tasks-table-body-rows-td{
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 10px 15px;
  }
  
  .completed-tasks-table-body-rows-td:nth-child(6){
    width: 33%;
    text-align: left;
  }
  /* --- */