/* --- */
.pending-tasks-table{
    text-align: center;
    width: 100%;
    color: #0b1338;
    font-size: 15px;
    font-weight: 500;
}

.pending-tasks-table-body-rows-td{
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 10px 15px;
  }
  
  .pending-tasks-table-body-rows-td:nth-child(5){
    width: 16%;
  }

  .pending-tasks-table-body-rows-td:nth-child(7){
    width: 25%;
    text-align: left;
  }
  /* --- */