    /* forgot password */
    .link{
      color: hsla(0,0%,100%,.5);
    }
    .link:hover{
      color: #fff;
    }


/* forgot password email */
.forgot-password-email{
  /* margin-top: 15px; */
  margin-bottom: 15px;
  position: relative;
}

.forgot-password-email-input{
  width: 100%;
  outline: none;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 16px;
  border-radius: 5px;
}


/* forgot-password-form-button */
.forgot-password-button{
  padding: 5px 30px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-top: 25px;
}

.forgot-password-button:hover{
  background-color: #fff;
  color: #25245c;
}