.reset-password-input-box{
    margin: 10px 0px;
  }

/* reset password email */
.reset-password-email{
    position: relative;
  }

  .reset-password-email-input{
    width: 100%;
    outline: none;
    color: #fff;
    padding: 8px 10px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
  }

/* reset password password */
.reset-password-password{
    position: relative;
  }

  .reset-password-password-input{
    width: 100%;
    outline: none;
    color: #fff;
    padding: 8px 10px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
  }

/* reset password confirm password */
.reset-password-confirm-password{
    position: relative;
  }

  .reset-password-confirm-password-input{
    width: 100%;
    outline: none;
    color: #fff;
    padding: 8px 10px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
  }

/* reset-password-button */
.reset-password-button{
    padding: 5px 50px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
  }

  .reset-password-button:hover{
    background-color: #fff;
    color: #25245c;
  }