/* .time-entries-browser-heading{
    padding: 15px 25px;
    background-color: #ededed;
}

.time-entries-browser-heading span{
    margin: 20px;
}
---

.time-entries-browser-content{
    padding: 0px 25px;
    background-color: rgb(255, 239, 242);
}
---

.time-entries-browser-time-entry-record{
    background-color: rgb(240, 240, 240) !important;
    padding: 10px 20px;
    width: 70%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
} */